{
  "EVERNOTE_API_CONSUMER_KEY" : "YOUR API CONSUMER KEY",
  "EVERNOTE_API_CONSUMER_SECRET" : "YOUR API CONSUMER SECRET",
  "YAMMER_API_CONSUMER_KEY": "YOUR API CONSUMER KEY",
  "YAMMER_API_CONSUMER_SECRET": "YOUR API CONSUMER SECRET",
  "YAMMER_CALLBACK_URL": "YAMMER CALLBACKURL",
  "SANDBOX" : true,
  "HOST_URL": "http://localhost:3000",
  "COOKIE_SECRET": 'verysecretkey'
}