<% include head %>    
    
    <body>
        
        <div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1 style="color:white;"><img src="images/logo.png" title="EvernotetoYammer" /></h1>
          <p class="lead">Post new Evernote notes to Yammer </p>
          
          <br><br><br>
          
          <% if(token) { %>
	    <div class="col-md-6 col-md-offset-3">
		<% for (var i = 0; i < notes.length; ++i){ %>
                    <p><strong><%= notes[i].title %></strong>
		       <a href="/viewNote/<%= notes[i].guid %>" target="_blank"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span> View Note</button></a> 
		       <a href="#"><button type="button" class="btn btn-default btn-xs"><i class="fa fa-paper-plane"></i> Post to Yammer</button></a>
		    </p>
                <% }%>
                
	    </div>
                
          <% } else { %>
          
                <span id="spinner" style="display: none;"><i class="fa fa-refresh fa-spin fa-4x"></i></span>
                <a href="/oauth"><button id="connect-evernote" class="btn btn-lg btn-primary">CONNECT TO EVERNOTE</button></a>
                
          <% }%>
        </div>
        
      </div> <!-- /row -->
  
    <div class="row">
      
</div>
  
  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  	<hr>
            
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right">Created by <a href="http://anubhavmishra.com" target="_blank">Anubhav Mishra</a>.</p>
        <br><br>
        </div>
    </div>
</div>

<% include footer %>