<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>EvernotetoYammer - Post new Evernote notes to Yammer</title>
        <meta name="" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <style type="text/css">
            html,body {
		height:100%;
	      }
	      
	      h1 {
		font-family: Arial,sans-serif
		font-size:80px;
		color:#DDCCEE;
	      }
	      
	      .lead {
		      color:#DDCCEE;
	      }
	      .container-full {
		margin: 0 auto;
		width: 100%;
		min-height:100%;
		background-color:#110022;
		color:#eee;
		overflow:hidden;
	      }
	      
	      .container-full a {
		color:#efefef;
		text-decoration:none;
	      }
	      
	      .v-center {
		margin-top:7%;
	      }
		
	</style>
    </head> 